$bet : space-between;
$up : uppercase;
$even : space-evenly;
$start : flex-start;
$end : flex-end;

*
{
	margin: 0;
	padding: 0;
}

body , html
{
	font-size: 16px;

}

div , span
{
	box-sizing: border-box;
}

a
{
	text-decoration: none;
}

.container
{
	width: 100%;
	margin: 0 auto;
	max-width: 1280px;
}

.d-f
{
	display: flex;
}

.d-b
{
	display: block;
}

.flex-c
{
	justify-content: center;
	align-items: center;
}

.t-w
{
	color: #fff;
}

.m-w
{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

/* header */

.header
{
	background: #fff;
	width: 100%;
	.row
	{
		@extend .container , .d-f;
		align-items: center;
		justify-content: $bet;
		

		.logo
		{
			@extend .d-f;
			align-items: center;
			padding: 15px 0;
			.logo__img , .logo__name
			{
				@extend .d-b;
			}
			.logo__name
			{
				color: #999999;
				font: 30px/35px "Mangal" , sans-serif;
				font-weight: bold;
				letter-spacing: 3px;
				margin-left: 10px;

			}
		}
		
		
	}

}

main
{
	.section__header
	{

		@extend .m-w;
		min-height: 373px;
		background: url("../img/main-bg.png") no-repeat center / cover;
        .wrapper
        {
        	min-height: inherit;
        	@extend .d-f, .flex-c;
        	align-items: center;
        	max-width: 1100px;
        	margin: 0 auto;
        	@media screen and (max-width: 1000px)
        	{
        		&
        		{
        			display: flex;
        			flex-direction: column;
        			justify-content: center;
        			align-items: center;
        		}
        	}
             .block__info
             {
             	@extend .m-w ,.d-f;
				flex-direction: column;
				@media screen and(max-width: 1000px) {
					.info__title,
					 .info__description
					 {
					 	margin: 10px 0;
					 }

					 &
					 {
					 	margin: 30px 0;
					 	align-items: center;
					 }

				}

             	.info__title
             	{
             		font: 30px/35px "Mangal" , sans-serif;
					font-weight: bold;
					letter-spacing: 3px;
             	}

             	.info__description
             	{
             		font:12px/20px "Mangal" , sans-serif;;
					font-weight: bold;
					letter-spacing: 1.2px;
             	}
             		.info__dropdown-block
		        	{
		        		@extend .d-f;
		        		align-items: center;
		        		background: #fff;
		        		display: inline-flex;
		        		height: 42px;
		        		justify-content: space-between;
		        		border-radius: 15px;
		        		max-width: 465px;
		        		.dropdown__btn
		        		{
							width: 70%;
		        			background: #1f5b58 url("../img/arrow.png") no-repeat center / 50%;
							width: 69px;
		        			height: 42px;
		        			border: none;
		        			border-top-right-radius: 15px;
		        			border-bottom-right-radius: 15px;
		        			cursor: pointer;
		        			transition: .3s;
		        			&:hover
		        			{
		        				box-shadow: 0 0 10px #1f5b58;
		        			}
		        		}
		        		.dropdown__value
		        		{
							width: calc(100% - 30px);
		        			height: 42px;
		        			border: none;
		        			padding: 0 20px;
		        			border-top-left-radius: 15px;
		        			border-bottom-left-radius: 15px;
							@media screen and (max-width: 1000px) {
								&
								{
									width: 240px;
								}
							}
		        		}
		        	}
             }
             .block__modal
             {
             	max-width: 367px;
				background: rgba(0,0,0,.7);
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				@media screen and (max-width: 1000px) {
					&
					{
						margin: 30px 0;
					}
				}
				div
				{
					padding: 20px;
				}
				.modal__title
				{
					font: 20px/25px "Mangal" , sans-serif;
					font-weight: bold;	
					letter-spacing: 2px;

				}
				.modal__txt
				{
					font: 12px/17px "Mangal" , sans-serif;
					font-weight: bold;
					letter-spacing: 1.2px;
					margin: 20px auto;
				}
				.modal__btn
				{
					background-color: #1f5b58;
					border-radius: 15px;
					border: none;
					padding: 10px 25px;
					cursor: pointer;
					transition: .3s;
					font: 10px/17px "Mangal" , sans-serif;
					font-weight: bold;
					letter-spacing: 1px;
					
					&:hover
					{
						box-shadow: 0 0 10px #1f5b58; 
					}

				}
				.modal__help
				{
					margin: 20px auto;
					font: 10px/17px "Mangal" , sans-serif;
					font-weight: bold;
					letter-spacing: 1px;
					display: block;
				}
             }

        

        }
	}

	.cards__items
	{
		max-width: 940px;
		margin: 0 auto;
		.card__item
		{
			border: 1px solid #999999;
			background-color: #ffffff;
			margin: 40px auto;
			.row
			{
				@extend .d-f;
				
				justify-content: center;

				.col
				{
					
					margin: 0 15px;
					&:first-child
					{
						margin: 61px 0 0 0;
						@media screen and (max-width: 1000px) {
							&
							{
								display: none;
							}

						}
					}
				
					.card__name
					{
						color: #245e5b;
						font: 17px/15px "Mangal" , sans-serif;
						font-weight: bold;
						letter-spacing: 1.7px;
						margin: 15px 0;
					}
					.card__image
					{
						display: none;
						@media screen and (max-width: 1000px) {
							display: block;
							margin: 15px 0 0 0;
						}
					}
					.card__description
					{
					    margin: 5px 0 50px 0;
					 }
					.card__blocks
					{
						@extend .d-f;
						@media screen and (max-width: 1000px) {
							flex-direction: column;
						}
						.card__block
						{
							flex-basis: 33%;
						    color: #000;
						    background-color: #30a49d;
						    margin: 15px 5px;
						    text-align: center;
						   
						    &[data-block="0"]
						    {
								background: #acdbd8;
								box-shadow: 0 6px #a5bdbc;

						    }
						    &[data-block="1"]
						    {
								background: #83c8c4;
								box-shadow: 0 6px #799d9b;
								
						    }
						    &[data-block="2"]
						    {
								background: #59b6b1;
								box-shadow: 0 6px #4c7c79;
								
						    }
						    &:first-child
						    {
						    	margin: 15px 5px 15px 0;
						    }
						    .title
						    {
						    	font: 15px/15px "Mangal - Bold" , sans-serif;
								font-weight: 700;
								letter-spacing: 1.5px;
								margin: 10px;
						    }
						    .txt
						    {
						    	color: #000000;
								font-family: 12px/12px "Mangal";
								font-weight: bold;
								line-height: 25px;
								margin: 10px;
						    }

						}

					}
				}
				
			}
			.card__item-grey
			{
				background-color: #e8eeee;
				text-align: center;
				padding: 1% 5%;
			}
			
		}
    }

}